[project]
	description = Some useful tool in Linux,DOS,UEFI shell
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eason Huang (easonhuang19)
[access "refs/for/refs/*"]
	read = group user/Eason Huang (easonhuang19)
	push = group user/Eason Huang (easonhuang19)
	label-Code-Review = -2..+2 group user/Eason Huang (easonhuang19)
	label-Verified = -1..+1 group user/Eason Huang (easonhuang19)
	rebase = group user/Eason Huang (easonhuang19)
	removeReviewer = group user/Eason Huang (easonhuang19)
	submit = group user/Eason Huang (easonhuang19)
[access "refs/heads/*"]
	read = group user/Eason Huang (easonhuang19)
	create = group user/Eason Huang (easonhuang19)
	push = +force group user/Eason Huang (easonhuang19)
	pushMerge = group user/Eason Huang (easonhuang19)
[access "refs/tags/*"]
	push = group user/Eason Huang (easonhuang19)
	push = +force group user/Eason Huang (easonhuang19)
